## Tiền xử lý dữ liệu

In [1]:
import pandas as pd

In [2]:

# Đọc file dữ liệu 
df = pd.read_excel('Thay-Thong-Diem-Tong-Hop-K55_fix_3.xls', sheet_name = "TongHopHocCayQD", dtype={'DA':'|S', 'Class-XLTN':'|S'})
df.head(5)
df = df[:314]
df

,STT,MaSV,D2,C2,B2,A2,D3,C3,B3,A3,D4,C4,B4,A4,DA,Class-XLTN,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1.0,1400330.0,2,3,3,0,10,14,12,3,0,1,0,0,b'C',b'C',NaN,A,B,C
1,2.0,1400588.0,3,0,3,2,11,17,7,4,0,1,0,0,b'C',b'C',NaN,2,30,283
2,3.0,1400803.0,2,3,0,3,6,16,12,5,0,1,0,0,b'C',b'C',NaN,NaN,NaN,NaN
3,4.0,1401294.0,1,1,4,2,13,8,12,6,1,0,0,0,b'C',b'C',NaN,NaN,NaN,NaN
4,5.0,1401746.0,2,3,2,1,7,18,10,4,0,1,0,0,b'C',b'C',NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,310.0,1407687.0,0,4,2,2,9,13,9,8,0,1,0,0,b'C',b'C',NaN,NaN,NaN,NaN
310,311.0,1408224.0,2,1,2,3,15,13,7,4,0,0,1,0,b'C',b'C',NaN,NaN,NaN,NaN
311,312.0,1408417.0,3,2,0,3,5,9,10,15,0,0,1,0,b'B',b'B',NaN,NaN,NaN,NaN
312,313.0,1409124.0,3,2,2,1,15,9,12,3,0,0,1,0,b'C',b'C',NaN,NaN,NaN,NaN
313,314.0,1408696.0,2,1,2,3,7,11,18,3,0,1,0,0,b'C',b'C',NaN,NaN,NaN,NaN

In [3]:
(df['A4'].describe()) # quan sát mô tả về 1 trưởng dữ liệu

count    314.000000
mean       0.022293
std        0.147870
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: A4, dtype: float64

In [4]:
# df['Class-XLTN']

In [5]:
# df.columns.values.tolist()

In [6]:
# Chỗ này lấy các trường dữ liệu bằng list các tên - có thể dùng iloc để lấy theo index column
new_df = df[['STT',
 'MaSV',
 'D2',
 'C2',
 'B2',
 'A2',
 'D3',
 'C3',
 'B3',
 'A3',
 'D4',
 'C4',
 'B4',
 'A4',
 'DA',
 'Class-XLTN']]

In [7]:
# Dùng cho việc mã hoá lại dữ liệu
from sklearn.preprocessing import LabelEncoder
le_DA = LabelEncoder()
le_Class_XLTN = LabelEncoder()

In [8]:
# Mã hoá cho trường DA, XLTN -> đồ án và xếp loại tốt nghiệp
new_df['DA_n'] = le_DA.fit_transform(new_df['DA'])
new_df['XLTN_n'] = le_Class_XLTN.fit_transform(new_df['Class-XLTN'])
# a = new_df['DA'].astype(str)
# a
new_df

<ipython-input-8-561b1ea25804>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['DA_n'] = le_DA.fit_transform(new_df['DA'])
<ipython-input-8-561b1ea25804>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['XLTN_n'] = le_Class_XLTN.fit_transform(new_df['Class-XLTN'])

,STT,MaSV,D2,C2,B2,A2,D3,C3,B3,A3,D4,C4,B4,A4,DA,Class-XLTN,DA_n,XLTN_n
0,1.0,1400330.0,2,3,3,0,10,14,12,3,0,1,0,0,b'C',b'C',2,2
1,2.0,1400588.0,3,0,3,2,11,17,7,4,0,1,0,0,b'C',b'C',2,2
2,3.0,1400803.0,2,3,0,3,6,16,12,5,0,1,0,0,b'C',b'C',2,2
3,4.0,1401294.0,1,1,4,2,13,8,12,6,1,0,0,0,b'C',b'C',2,2
4,5.0,1401746.0,2,3,2,1,7,18,10,4,0,1,0,0,b'C',b'C',2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,310.0,1407687.0,0,4,2,2,9,13,9,8,0,1,0,0,b'C',b'C',2,2
310,311.0,1408224.0,2,1,2,3,15,13,7,4,0,0,1,0,b'C',b'C',2,2
311,312.0,1408417.0,3,2,0,3,5,9,10,15,0,0,1,0,b'B',b'B',1,1
312,313.0,1409124.0,3,2,2,1,15,9,12,3,0,0,1,0,b'C',b'C',2,2
313,314.0,1408696.0,2,1,2,3,7,11,18,3,0,1,0,0,b'C',b'C',2,2

In [9]:
conver_df = new_df.drop(['DA', 'Class-XLTN','MaSV'], axis =1)
# conver_df = conver_df.drop(315, axis=0)

In [10]:
# Dữ liệu đã được mã hoá và có thể train mô hình
conver_df

       STT  D2  C2  B2  A2  D3  C3  B3  A3  D4  C4  B4  A4  DA_n  XLTN_n
0      1.0   2   3   3   0  10  14  12   3   0   1   0   0     2       2
1      2.0   3   0   3   2  11  17   7   4   0   1   0   0     2       2
2      3.0   2   3   0   3   6  16  12   5   0   1   0   0     2       2
3      4.0   1   1   4   2  13   8  12   6   1   0   0   0     2       2
4      5.0   2   3   2   1   7  18  10   4   0   1   0   0     2       2
..     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...     ...
309  310.0   0   4   2   2   9  13   9   8   0   1   0   0     2       2
310  311.0   2   1   2   3  15  13   7   4   0   0   1   0     2       2
311  312.0   3   2   0   3   5   9  10  15   0   0   1   0     1       1
312  313.0   3   2   2   1  15   9  12   3   0   0   1   0     2       2
313  314.0   2   1   2   3   7  11  18   3   0   1   0   0     2       2

[314 rows x 15 columns]

In [11]:
# Các quan sát và nhãn là inputs_l và target tương ứng
inputs_l = conver_df.drop(['STT','XLTN_n'], axis = 1)
target = conver_df['XLTN_n']
# inputs_l

In [12]:
# target

## Train model

In [28]:
# Chia dữ liệu tành tập train và tập test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(inputs_l, target, test_size =0.33)

In [29]:
# import tree từ lib sklearn và huấn luyện mô hình với tham số entropy tương ứng thuât toán id3
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='entropy')

model.fit(X_train, y_train) # train trên tập huấn luyện

DecisionTreeClassifier(criterion='entropy')

In [30]:
inputs_l

     D2  C2  B2  A2  D3  C3  B3  A3  D4  C4  B4  A4  DA_n
0     2   3   3   0  10  14  12   3   0   1   0   0     2
1     3   0   3   2  11  17   7   4   0   1   0   0     2
2     2   3   0   3   6  16  12   5   0   1   0   0     2
3     1   1   4   2  13   8  12   6   1   0   0   0     2
4     2   3   2   1   7  18  10   4   0   1   0   0     2
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...
309   0   4   2   2   9  13   9   8   0   1   0   0     2
310   2   1   2   3  15  13   7   4   0   0   1   0     2
311   3   2   0   3   5   9  10  15   0   0   1   0     1
312   3   2   2   1  15   9  12   3   0   0   1   0     2
313   2   1   2   3   7  11  18   3   0   1   0   0     2

[314 rows x 13 columns]

In [31]:
# test mô hình trên tập test - Đánh giá mô hình
model.score(X_test, y_test)

0.9807692307692307

## Dự đoán kết quả và hiển thị cây quyết định

In [24]:
a = list([2,3,3,0,10,14,12,3,0,1,0,0,0]) # 13 trường dữ liệu
a

[2, 3, 3, 0, 10, 14, 12, 3, 0, 1, 0, 0, 0]

In [25]:
# a = list([2,3,3,0,10,14,12,3,0]) # 13 trường dữ liệu
# a

In [26]:
len(a)

13

In [27]:
model.predict([a]) # dự đoán a trên mô hình cho về kết quả sinh viên đó xếp loại tốt nghiệp loại B tương ững nhãn 0

array([1])

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
import numpy as np
a =  new_df.columns.values.tolist()
f = a[:-4]
t = np.array(['A', 'B', 'C'])
fig = plt.figure(figsize=(25,20))
_ = tree.plot_tree(model, 
                   feature_names=f,  
                   class_names=t,
                   filled=True)

In [ ]:
fig.savefig("decistion_tree_entropy.png")

In [ ]:
from IPython import display
display.Image("./decistion_tree_entropy.png")

## Hệ luật của cây quyết định

In [ ]:


text_representation = tree.export_text(model)
print(text_representation)

In [ ]:
# from matplotlib.colors import ListedColormap
# import matplotlib.pyplot as plt


# def plot_decision_regions(X, y, classifier, test_idx=None, resolution=0.02):

#     # setup marker generator and color map
#     markers = ('s', 'x', 'o', '^', 'v')
#     colors = ('red', 'blue', 'lightgreen', 'gray', 'cyan')
#     cmap = ListedColormap(colors[:len(np.unique(y))])

#     # plot the decision surface
#     x1_min, x1_max = X[:, 0].min() - 1, X[:, 0].max() + 1
#     x2_min, x2_max = X[:, 1].min() - 1, X[:, 1].max() + 1
#     xx1, xx2 = np.meshgrid(np.arange(x1_min, x1_max, resolution),
#                            np.arange(x2_min, x2_max, resolution))
#     Z = classifier.predict(np.array([xx1.ravel(), xx2.ravel()]).T)
#     Z = Z.reshape(xx1.shape)
#     plt.contourf(xx1, xx2, Z, alpha=0.3, cmap=cmap)
#     plt.xlim(xx1.min(), xx1.max())
#     plt.ylim(xx2.min(), xx2.max())

#     for idx, cl in enumerate(np.unique(y)):
#         plt.scatter(x=X[y == cl, 0], 
#                     y=X[y == cl, 1],
#                     alpha=0.8, 
#                     c=colors[idx],
#                     marker=markers[idx], 
#                     label=cl, 
#                     edgecolor='black')

#     # highlight test examples
#     if test_idx:
#         # plot all examples
#         X_test, y_test = X[test_idx, :], y[test_idx]

#         plt.scatter(X_test[:, 0],
#                     X_test[:, 1],
#                     c='',
#                     edgecolor='black',
#                     alpha=1.0,
#                     linewidth=1,
#                     marker='o',
#                     s=100, 
#                     label='test set')

In [ ]:
# from sklearn.tree import DecisionTreeClassifier
# tree_model = DecisionTreeClassifier(criterion='gini', max_depth=4, random_state=1)
# tree_model.fit(X_train, y_train)
# X_combined = np.vstack((X_train, X_test))
# y_combined = np.hstack((y_train, y_test))
# # plot_decision_regions(X_combined, y_combined, classifier=tree_model, test_idx=range(105, 150))
# # plt.xlabel('petal length [cm]')
# # plt.ylabel('petal width [cm]')
# # plt.legend(loc='upper left')
# # plt.tight_layout()
# # plt.show()