In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Thay-Thong-Diem-Tong-Hop-K55_fix_3.xls', sheet_name = "TongHopHocCayQD", dtype={'DA':'|S', 'Class-XLTN':'|S'})
df.head(5)

,STT,MaSV,D2,C2,B2,A2,D3,C3,B3,A3,D4,C4,B4,A4,DA,Class-XLTN,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1.0,1400330.0,2.0,3.0,3.0,0.0,10.0,14.0,12.0,3.0,0.0,1.0,0.0,0.0,b'C',b'C',NaN,A,B,C
1,2.0,1400588.0,3.0,0.0,3.0,2.0,11.0,17.0,7.0,4.0,0.0,1.0,0.0,0.0,b'C',b'C',NaN,2,30,283
2,3.0,1400803.0,2.0,3.0,0.0,3.0,6.0,16.0,12.0,5.0,0.0,1.0,0.0,0.0,b'C',b'C',NaN,NaN,NaN,NaN
3,4.0,1401294.0,1.0,1.0,4.0,2.0,13.0,8.0,12.0,6.0,1.0,0.0,0.0,0.0,b'C',b'C',NaN,NaN,NaN,NaN
4,5.0,1401746.0,2.0,3.0,2.0,1.0,7.0,18.0,10.0,4.0,0.0,1.0,0.0,0.0,b'C',b'C',NaN,NaN,NaN,NaN

In [13]:
df['A4'].descirb

AttributeError: 'Series' object has no attribute 'descirb'

In [3]:
# df['Class-XLTN']

In [4]:
# df.columns.values.tolist()

In [5]:
new_df = df[['STT',
 'MaSV',
 'D2',
 'C2',
 'B2',
 'A2',
 'D3',
 'C3',
 'B3',
 'A3',
 'D4',
 'C4',
 'B4',
 'A4',
 'DA',
 'Class-XLTN']]

In [6]:
from sklearn.preprocessing import LabelEncoder
le_DA = LabelEncoder()
le_Class_XLTN = LabelEncoder()

In [7]:
new_df['DA_n'] = le_DA.fit_transform(new_df['DA'])
new_df['XLTN_n'] = le_Class_XLTN.fit_transform(new_df['Class-XLTN'])
# a = new_df['DA'].astype(str)
# a

<ipython-input-7-5f910ecd38d8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['DA_n'] = le_DA.fit_transform(new_df['DA'])
<ipython-input-7-5f910ecd38d8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['XLTN_n'] = le_Class_XLTN.fit_transform(new_df['Class-XLTN'])

In [8]:
conver_df = new_df.drop(['DA', 'Class-XLTN','MaSV'], axis =1)
conver_df = conver_df.drop(315, axis=0)

In [9]:
conver_df

,STT,D2,C2,B2,A2,D3,C3,B3,A3,D4,C4,B4,A4,DA_n,XLTN_n
0,1.0,2.000000,3.000000,3.00000,0.000000,10.00000,14.000000,12.00000,3.000000,0.000000,1.000000,0.000000,0.000000,3,3
1,2.0,3.000000,0.000000,3.00000,2.000000,11.00000,17.000000,7.00000,4.000000,0.000000,1.000000,0.000000,0.000000,3,3
2,3.0,2.000000,3.000000,0.00000,3.000000,6.00000,16.000000,12.00000,5.000000,0.000000,1.000000,0.000000,0.000000,3,3
3,4.0,1.000000,1.000000,4.00000,2.000000,13.00000,8.000000,12.00000,6.000000,1.000000,0.000000,0.000000,0.000000,3,3
4,5.0,2.000000,3.000000,2.00000,1.000000,7.00000,18.000000,10.00000,4.000000,0.000000,1.000000,0.000000,0.000000,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,312.0,3.000000,2.000000,0.00000,3.000000,5.00000,9.000000,10.00000,15.000000,0.000000,0.000000,1.000000,0.000000,2,2
312,313.0,3.000000,2.000000,2.00000,1.000000,15.00000,9.000000,12.00000,3.000000,0.000000,0.000000,1.000000,0.000000,3,3
313,314.0,2.000000,1.000000,2.00000,3.000000,7.00000,11.000000,18.00000,3.000000,0.000000,1.000000,0.000000,0.000000,3,3
314,315.0,4.000000,1.000000,2.00000,1.000000,15.00000,11.000000,10.00000,3.000000,0.000000,0.000000,1.000000,0.000000,3,3
316,NaN,1.949206,2.146032,2.24127,1.663492,12.27619,12.939683,9.72381,4.057143,0.279365,0.520635,0.177778,0.022222,4,4

In [10]:
inputs_l = conver_df.drop(['XLTN_n'], axis = 1)
target = conver_df['XLTN_n']
inputs_l

,STT,D2,C2,B2,A2,D3,C3,B3,A3,D4,C4,B4,A4,DA_n
0,1.0,2.000000,3.000000,3.00000,0.000000,10.00000,14.000000,12.00000,3.000000,0.000000,1.000000,0.000000,0.000000,3
1,2.0,3.000000,0.000000,3.00000,2.000000,11.00000,17.000000,7.00000,4.000000,0.000000,1.000000,0.000000,0.000000,3
2,3.0,2.000000,3.000000,0.00000,3.000000,6.00000,16.000000,12.00000,5.000000,0.000000,1.000000,0.000000,0.000000,3
3,4.0,1.000000,1.000000,4.00000,2.000000,13.00000,8.000000,12.00000,6.000000,1.000000,0.000000,0.000000,0.000000,3
4,5.0,2.000000,3.000000,2.00000,1.000000,7.00000,18.000000,10.00000,4.000000,0.000000,1.000000,0.000000,0.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,312.0,3.000000,2.000000,0.00000,3.000000,5.00000,9.000000,10.00000,15.000000,0.000000,0.000000,1.000000,0.000000,2
312,313.0,3.000000,2.000000,2.00000,1.000000,15.00000,9.000000,12.00000,3.000000,0.000000,0.000000,1.000000,0.000000,3
313,314.0,2.000000,1.000000,2.00000,3.000000,7.00000,11.000000,18.00000,3.000000,0.000000,1.000000,0.000000,0.000000,3
314,315.0,4.000000,1.000000,2.00000,1.000000,15.00000,11.000000,10.00000,3.000000,0.000000,0.000000,1.000000,0.000000,3
316,NaN,1.949206,2.146032,2.24127,1.663492,12.27619,12.939683,9.72381,4.057143,0.279365,0.520635,0.177778,0.022222,4

In [11]:
target

0      3
1      3
2      3
3      3
4      3
      ..
311    2
312    3
313    3
314    3
316    4
Name: XLTN_n, Length: 316, dtype: int32

In [12]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

model.fit(inputs_l, target)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
import numpy as np
a =  new_df.columns.values.tolist()
f = a[:-4]
t = np.array(['C', 'B', 'A'])
fig = plt.figure(figsize=(25,20))
_ = tree.plot_tree(model, 
                   feature_names=f,  
                   class_names=t,
                   filled=True)

In [ ]:
fig.savefig("decistion_tree_entropy.png")